@import "tailwindcss";


:root {
  --primary: #1C3A2A;
  --secondary: #6B3A2A;
  --accent: #D4AF37;
  /* Very subtle accent */
  --background-light: #F4EBE1;
  /* Solid, classy earthy tone instead of pure white */
  --background-dark: #1A120E;

  --golden: #D4AF37;
  --leaf-green: #1C3A2A;
  --brown: #6B3A2A;

  --text-muted: #6b7280;

  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-golden: var(--golden);
  --color-leaf-green: var(--leaf-green);
  --color-brown: var(--brown);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: sans-serif;
  background-color: var(--background-light);
  color: #181411;
}

h1,
h2 {
  font-family: "Twinkle Star", sans-serif;
}

.serif-heading {
  font-family: "Twinkle Star", serif;
}

.header-text-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 3D PERFORMANCE UTILITIES */
.perspective-3000 {
  perspective: 3000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Fix for text jaggedness/breaking during 3D rotation */
.antialiased-3d {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
  /* Hardware acceleration hack */
  will-change: transform;
}

/* Prevent flickering text during flip */
.page-content-layer {
  transform: translateZ(1px);
  /* Slight lift to prevent z-fighting */
}